.venv/
venv/
myenv/
data/

*.pyc
__pycache__/

*.swp

.python-version

.vscode/

instance/

build/

dist/

DBW301/logs/**/*


.pytest_cache/
.coverage
htmlcov/

*.egg-info/

app.db

logs/*.log*
geckodriver.log

messages.pot
var/
